<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceOf_ProductDTO" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64992/ProductService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_ProductDTO"
                contract="ProductServiceReference.IServiceOf_ProductDTO" name="BasicHttpBinding_IServiceOf_ProductDTO" />
        </client>
    </system.serviceModel>
  
</configuration>